<h1>Admin::Users#new</h1>

<%= render partial: 'admin/users/form', locals: { form_url: admin_users_path, target_method: :post, action_label: I18n.t('view.task.label.action_type.create') } %>
<%= render partial: 'admin/users/error_message' %>
