<h3><%= @todo.title %></h3>
<%= @todo.content %>
<%= link_to(t('dictionary.edit'), "/todos/#{@todo.id}/edit") %>
<%= link_to(t('dictionary.destroy'), "/todos/#{@todo.id}/destroy", {method: 'post'}) %>
