<h1>Tasks#new</h1>
<%= render partial: 'admin/labels/form', locals: { target_method: :post, form_url: admin_labels_path, action_label: I18n.t('view.task.label.action_type.create') } %>
<%= render partial: 'parts/error_message' %>
