<% provide(:button_text, I18n.t('save_changes')) %>
<% provide(:cancel_link_text, I18n.t('cancel_edit')) %>
<% provide(:cancel_link, task_url) %>

<div class="row">
  <div class="col-4">
    <h1><%= I18n.t('task_edit') %></h1>
  </div>
</div>

<div>
    <%= render 'form' %>
</div>