<% provide(:button_text, I18n.t('save_changes')) %>
<div class="row">
  <div class="col-4">
    <h1><%= I18n.t('task_edit') %></h1>
  </div>
</div>

<div>
    <%= render 'form' %>
</div>

<%=link_to  I18n.t('cancel_edit'), @task%>