<div name='header'>
  <h1><%= I18n.t('view_title.edit') %></h1>
</div>
<div name='content'>
  <%= render partial: 'form', locals: { url: task_path(@task), method: 'put', button_name: I18n.t('button.update') } %>
</div>
<div name='footer'>
  <%= link_to(I18n.t('link.list_back'), root_path) %>
</div>
