<h1><%= I18n.t('tasks.edit.title', task_name: @task.title) =%></h1>
<hr>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to I18n.t('tasks.common.to_show'), @task %> |
  <%= link_to I18n.t('tasks.common.to_index'), tasks_path %>
</div>
