<div class="container mt-4">
  <h1>Tasks</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input type="text" class="form-control w-25" placeholder="Search" id="search">
    <button id="logout" class="btn btn-outline-secondary">Logout</button>
  </div>
  <table class="table table-striped table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Label</th>
        <th scope="col">Title</th>
        <th scope="col">Assignee</th>
        <th scope="col">DueDate</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>Labels</td>
          <td><%= link_to task.title, task_path(task) %></td>
          <td>Ryu</td>
          <td>0000/00/00</td>
          <td>Not started</td>
          <td>Low</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <%= link_to "Add", new_task_path, class:"btn btn-primary" %>
  </div>
</div>
