// Place all the styles related to the tasks controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

//@import 'bootstrap/dist/css/bootstrap';

table#task{
  thead {
    tr{
      background-color: deepskyblue;
    }
  }

}