<h1>Tasks#index</h1>
<% @tasks.each do |task| %>
  <div>
    <p><%= I18n.t('view.task.index.label.id', id: task.id) %></p>
    <p><%= task.name %></p>
    <p><%= task.description %></p>
    -----------------------------
  </div>
<% end %>
