<h1>Tasks#index</h1>
<% @tasks.each do |task| %>
  <div>
    <p>ID: <%= task.id %></p>
    <p><%= task.name %></p>
    <p><%= task.description %></p>
    -----------------------------
  </div>
<% end %>
