<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="page-item">
  <% @contents = capture do %>
    <span aria-hidden="true">&raquo;</span>
  <% end %>
  <%= link_to_unless current_page.last?, @contents, url, { remote: remote, class: 'page-link' } %>
</li>
