@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html{
    font-size: 16px;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

span {
    display: inline-block;
    width: 9em;
}

/* forms */

input,
textarea,
select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

.radio-vertical {                                          
    flex-direction: column;                                                       
    display: inline-flex;                                                         
} 

/* sort */

.sorting-params{
    font-size: 16px;
}

.ASC {
    color: red;
}
.DESC {
    color: green;
}

/* card */

.card {
    font-size: 12px;
    max-width: 20rem;
    h4 {
        font-size: 20px;
    }
}

.card:hover {
    border-color: red;
    border-width: 3px;
}

