@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html{
    font-size: 16px;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

span {
    display: inline-block;
    width: 9em;
}

/* show */
.task-detail{
    margin-top: 20px;
}

.search_tasks{
    margin: 15px;
    padding: 15px;
}

/* forms */

input,
textarea,
select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

.form-label {
    margin: 8px 0 0 0
}

/* sort */

.sorting-params{
    font-size: 16px;
}

.ASC {
    color: red;
}
.DESC {
    color: green;
}

/* search */
.search_form {
    width: 100%;
}
.search_item {
    margin-top: 10px;
}

/* card */

.card {
    font-size: 12px;
    max-width: 20rem;
    h4 {
        font-size: 20px;
    }
}

.card:hover {
    border-color: red;
    border-width: 3px;
}

