<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="d-flex justify-content-center align-items-center gap-2">
            <span class="display-1 fw-bold"><%= @status_code %></span>
          </h2>
          <h3 class="h2 mb-2"><%= @msg %></h3>
          <%= link_to "Back to Home", root_path, class: "btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" %>
        </div>
      </div>
    </div>
  </div>
</section>
