name: lint
on: [push, pull_request]
jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true
      - name: RuboCop実行
        run: bundle exec rubocop --parallel
